<h1>
    Chat</h1>
<hr>
<div>
    <div class="app-mensajes" id="app-messages">

        <div *ngFor="let chat of chatService.chats" [ngClass]="{'text-right':chatService.User.uid == chat.uid }">
            <span class="badge" [ngClass]="{'badge-primary':chatService.User.uid == chat.uid,
                                            'badge-danger':chatService.User.uid != chat.uid }">{{chat.name}}</span>
            <p>
                {{ chat.message}}
            </p>
        </div>
    </div>
    <input class="form-control" type="text" name="mensaje" [(ngModel)]="message" (keyup.enter)="Send()" placeholder="Send">

</div>